$mainColor: rgb(7, 35, 46);

$width: 768px;
$width579: 579px;

@mixin mobile {
	@media (max-width: #{$width}) {
		@content;
	}
}

@mixin mobile579 {
	@media (max-width: #{$width579}) {
		@content;
	}
}
